/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    color: #333;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #013e80;
}

/* Estilo do link no botão */
#buttons a {
    color: #fff;
    text-decoration: none;
}

